.title {
    width: fit-content;
    margin: 0 auto;
}

.formContainer {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 20px 15px;
    border-radius: 8px;
    background-color: var(--card-bg-color);
    margin: 30px auto;
    box-shadow: 4px 0 10px 0 var(--shadow-color);
}

.removeBtn {
    position: absolute;
    background-color: rgb(221, 67, 32);
    color: var(--text-color);
    border-radius: 50px;
    border: none;
    height: 25px;
    width: 25px;
    right: 10px;
    top: 10px;
    padding: 2px 0 0 0;
    cursor: pointer;
}