.title {
    width: fit-content;
    margin: 0 auto;
}

.formContainer {
    width: 100%;
    max-width: 600px;
    padding: 20px 15px;
    border-radius: 8px;
    background-color: var(--card-bg-color);
    margin: 30px auto;
    box-shadow: 4px 0 10px 0 var(--shadow-color);
}
