.btn {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--btn-color);
	color: #fff;
	cursor: pointer;
	transition: border-color 0.2s;
}

.btn:hover {
	border: 1px solid #4c4ac4;
}

.btn:focus,
.btn:focus-visible {
	outline: 4px auto #2f2f2f;
}

.btn:disabled {
	opacity: 0.7;
	pointer-events: none;
}

.active {
	background-color: #ffc232;
	color: #1a237e;
}
