.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

.formControl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;

    label {
        font-size: 18px;
        color: var(--text-colors);
    }

    textarea, select {
        background-color: var(--bg-color);
        padding: 5px;
        color: var(--text-color);
        font-size: 16px;
        border-radius: 5px;
        border: none;
        outline: none;
    }

    select:focus-visible,
    textarea:focus-visible {
        outline: 2px solid var(--btn-color);
    }
}

.clearFormControl {
	width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.checkbox {
	width: 18px;
    height: 18px;
    accent-color: #605efe;
}

.checkbox + span {
    opacity: 0.5;
}