.badges {
	width: fit-content;
	border-radius: 20px;
	background-color: rgb(255, 187, 77);
	padding: 2px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	color: #1a237e;
	font-size: 14px;
}

.easy {
	background-color: #89ff97;
}

.medium {
	background-color: #ffc232;
}

.hard {
	background-color: #ff7979;
}

.completed {
	background-color: #605efe;
	color: #ffffff;
}

.inProgress {
	background-color: #ff89e9;
	color: #1a237e;
}
