.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	height: 70px;
	width: 100%;
	box-shadow: 0 2px 8px 0 var(--shadow-color);
}

.iconAndTitleWrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
}

img {
	width: 30px;
}

.btnsWrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	user-select: none;
}
