.theme {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    scale: 0.8;
    margin: 4px 0 0 0;
    cursor: pointer;
}

.themeFill {
    background-color: var(--bg);
    display: block;
    mix-blend-mode: difference;
    position: fixed;
    inset: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

.themeToggle {
    z-index: 1;
}

.themeToggle,
.themeToggleWrap {
    position: relative;
}

.themeToggle,
.themeToggle:before {
    display: block;
}

.themeToggle {
    background-color: #fae3af;
    border-radius: 25% / 50%;
    box-shadow: 0 0 0 0.125em var(--primaryT);
    padding: 0.25em;
    width: 6em;
    height: 3em;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color var(--transDur, 0.3s) ease-in-out,
        box-shadow 0.15s ease-in-out,
        transform var(--transDur, 0.3s) ease-in-out;
}

.themeToggle:before {
    background-color: #ffc232;
    border-radius: 50%;
    content: "";
    width: 2.5em;
    height: 2.5em;
    transition: 0.3s;
}

.themeToggle:focus {
    box-shadow: 0 0 0 0.125em var(--primary);
    outline: transparent;
}

.themeToggle:checked {
    background-color: #1e1e4e;
}

.themeToggle:checked:before {
    transform: translateX(3em);
    background-color: #605efe;
}

.themeToggle:checked ~ .themeFill {
    transform: translateX(0);
}

.themeToggleWrap {
    margin: 0 0.75em;
}

@supports selector(:focus-visible) {
    .themeToggle:focus {
        box-shadow: 0 0 0 0.125em var(--primaryT);
    }

    .themeToggle:focus-visible {
        box-shadow: 0 0 0 0.125em var(--primary);
    }
}

@media (max-width: 471px) {
    .theme {
        scale: 0.8;
        margin: 2px 0 0 0;
    }

    .themeToggleWrap {
        margin: 0;
    }
}