:root {
	--bg-color: #f8faff;
	--text-color: #1a237e;
	--btn-color: #0092ff;
	--card-bg-color: #ffffff;
	--shadow-color: #c9e8ff;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

a {
	color: inherit;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #f8faff;
		--text-color: #1a237e;
		--btn-color: #0092ff;
		--card-bg-color: #ffffff;
		--shadow-color: #c9e8ff;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #0d1117;
		--text-color: #e6edf3;
		--btn-color: #605efe;
		--card-bg-color: #21262d;
		--shadow-color: #000000;
	}
}
