.controlsContainer {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.noCardsInfo {
	margin: 0 auto;
	width: fit-content;
	color: var(--text-color);
}

.select {
	height: 40px;
	padding: 5px;
	border-radius: 10px;
	border: none;
	outline: none;
	background-color: var(--card-bg-color);
	color: var(--text-color);
	flex-grow: 1;
}

@media (max-width: 576px) {
	.controlsContainer {
		flex-wrap: wrap-reverse;
	}
}
