.controlsContainer {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.noCardsInfo {
	margin: 0 auto;
	width: fit-content;
	color: var(--text-color);
}
