.questionCard {
	width: 300px;
	height: 350px;
	background-color: var(--card-bg-color);
	border-radius: 12px;
	box-shadow: 4px 0 10px 0 var(--shadow-color);
	color: var(--text-color);
	padding: 22px 17px;
	display: flex;
	flex-direction: column;
	gap: 18px;

	button {
		align-self: flex-end;
		font-size: 14px;
	}
}

.labelsWrapper {
	display: flex;
	gap: 10px;
}

.cardTitle {
	font-size: 18px;
	text-align: center;
}

.cardQuestion {
	font-size: 14px;
}

.shortAnswerWrapper {
	margin-top: auto;
	font-size: 14px;
}

.shortAnswer {
	filter: blur(4px);
	transition: filter 0.5s ease-in-out;
	cursor: pointer;
}

.shortAnswer:hover {
	filter: none;
}
